$DarkBlue: #19356d;
$Blue: #2653ac;
$DarkGreen: #9ea0a7;
$LigthGreen: #cbd1dd;
$BackgroundLight: #f1f1f1;
$BackgroundDark: #282c34;
.App {
  text-align: center;
}
ul {
  list-style: none;
}
.container {
  margin: 0px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}
.lolo {
  padding: 50px 0 0 50px;
  width: 40%;
  min-height: 350px;
}
.stiky {
  height: 80%;
}
.stiky h1 {
  position: sticky;
  top: 100px;
  z-index: 1;
}
.footer {
  height: 100px;
  background-color: $DarkBlue;
  font-size: 25px;
}
.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  background-color: $DarkBlue;
  font-size: 25px;
  z-index: 10;
}

.blue {
  background-color: $Blue;
}
.white {
  background-color: $LigthGreen;
}
.container-white {
  color: black;
  background-color: $BackgroundLight;
}
.container-blue {
  color: white;
  background-color: $BackgroundDark;
}
.footer-white {
  color: black;
  background-color: $DarkGreen;
}
.footer-blue {
  color: white;
  background-color: $DarkBlue;
}
.header-white {
  color: black;
  background-color: $DarkGreen;
}
.header-blue {
  color: white;
  background-color: $DarkBlue;
}
