.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

ul {
  list-style: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container {
  margin: 0px;
  background-color: #282c34;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
}
.lolo {
  padding: 50px 0 0 50px;
  background-color: #2653ac;
  width: 40%;
  color: white;
  min-height: 350px;
}
.stiky {
  height: 80%;
}
.stiky h1 {
  position: sticky;
  top: 100px;
  z-index: 1;
}
.time-component {
  background-color: #2653ac;
  height: 300px;
  width: 40%;
  color: white;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  height: 100px;
  background-color: #19356d;
  color: white;
  font-size: 25px;
}
.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  background-color: #19356d;
  color: white;
  font-size: 25px;
  z-index: 10;
}
